body {
    font-family: "Helvetica Neue", "Hiragino Sans", "Arial", sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}

.title_header {
    #title_text {
        font-size: 40px;
        font-weight: bold;
        color: #333;
        font-family: "Helvetica Neue", "Arial", sans-serif;
    }
}

.qr {
    height: 200px;
}
.code_image {
    height: 250px;
}
.contents {
    .links {
        h2 {
            margin-bottom: 10px;
        }
    }
    .links_content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .link_div {
            display: block;
        }
        p {
            margin-top: 10px;
        }
    }
}
